USE [master]
GO
/****** Object:  Database [RoseAmorDB]    Script Date: 3/18/2026 4:02:46 AM ******/
CREATE DATABASE [RoseAmorDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RoseAmorDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RoseAmorDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RoseAmorDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RoseAmorDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RoseAmorDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RoseAmorDB]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 3/18/2026 4:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NULL,
	[segment] [nvarchar](50) NULL,
	[created_at] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_customers]    Script Date: 3/18/2026 4:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_customers](
	[customer_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NULL,
	[segment] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_products]    Script Date: 3/18/2026 4:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_products](
	[sku] [nvarchar](50) NOT NULL,
	[category] [nvarchar](50) NULL,
	[cost] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_orders]    Script Date: 3/18/2026 4:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_orders](
	[order_id] [nvarchar](50) NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[sku] [nvarchar](50) NOT NULL,
	[quantity] [smallint] NOT NULL,
	[unit_price] [float] NULL,
	[order_date] [nvarchar](50) NOT NULL,
	[channel] [nvarchar](50) NOT NULL,
	[total_sales] [float] NULL,
	[margin] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 3/18/2026 4:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [nvarchar](50) NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[sku] [nvarchar](50) NOT NULL,
	[quantity] [smallint] NOT NULL,
	[unit_price] [float] NULL,
	[order_date] [nvarchar](50) NOT NULL,
	[channel] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 3/18/2026 4:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[sku] [nvarchar](50) NOT NULL,
	[category] [nvarchar](50) NULL,
	[cost] [float] NOT NULL,
	[active] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_customers]    Script Date: 3/18/2026 4:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_customers](
	[customer_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NULL,
	[segment] [nvarchar](50) NULL,
	[created_at] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_orders]    Script Date: 3/18/2026 4:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_orders](
	[order_id] [nvarchar](50) NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[sku] [nvarchar](50) NOT NULL,
	[quantity] [smallint] NOT NULL,
	[unit_price] [float] NULL,
	[order_date] [nvarchar](50) NOT NULL,
	[channel] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_products]    Script Date: 3/18/2026 4:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_products](
	[sku] [nvarchar](50) NOT NULL,
	[category] [nvarchar](50) NULL,
	[cost] [float] NOT NULL,
	[active] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_orders]    Script Date: 3/18/2026 4:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [varchar](20) NOT NULL,
	[customer_id] [varchar](20) NOT NULL,
	[sku] [varchar](20) NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[order_date] [date] NOT NULL,
	[channel] [varchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[web_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
